#ContentPortfolio
{
	width:100%;
	height:auto;
	padding: 30px 0;
	background-color: $Pagina-Fundo-Um;

	.itemWrapper{

		width:100%;
		height:auto;		
		margin-bottom: 30px;

		.contentItem{
			width:100%;
			float:none;
			height:auto;						
				
			img{
				width:100%;				
			}

			
		}


		.contentText{
			width:100%;
			height:auto;
			text-transform: uppercase;
			text-align:center;
			font-weight: 300;
			font-size: 16px;
			margin-top: -10px;
		}
	}

	.FiltrosPortfolioContainer {
		margin: 50px 0;

		.FiltrosPortfolio {
			.FiltroPortfolio {
				display: inline-block;
				font-size: 18px;
				width: auto;
				text-align: center;
				font-weight: 500;

				&:nth-child(odd) {
					cursor: pointer;

					&:hover, &.FiltroAtivo { color: #E87108; }
				}
			}

			&::after {
				content: "";
				display: inline-block;
				visibility: hidden;
				height: 0;
				width: 100%;
			}
		}
	}

	.col-xs-12 {
		.ImgPortfolioContainer {
			position: relative;
			cursor: pointer;
			margin-bottom: 30px;

			.FiltroImgPortfolio {
				$txt: #fff;

				position: absolute;
				top: 0;
				left: 0;
				padding: 50px;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .75);
				color: #fff;
			  	transition: opacity 0.2s ease-in-out;

				.FiltroImgInfo {
			  		position: absolute;
			  		top: 50%;
			  		left: 50%;
			  		width: calc(100% - 100px);
			  		transform: translate(-50%,-50%);

					.FiltroImgTitulo {
						color: $txt;
						font-size: 25px;
						font-weight: bold;
					}

					.FiltroImgTags {
						color: $txt;
						font-size: 15px;
					}
				}
			}
			&:hover {
				.FiltroImgPortfolio { opacity: 0; }
			}
		}

		&:nth-last-child(0), &:nth-last-child(1) {
			.ImgPortfolioContainer { margin-bottom: 0 }
		}
	}
}

@media (min-width: 400px){ 
	
	
}


@media (min-width: 768px){ 


}